polkit.addRule(function(action, subject) {
    if (subject.user == "kris" &&
        subject.local &&
        subject.active) {
        return polkit.Result.YES;
    }
});
